<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous"></script>
    <script>
      (function () {

        var onMessage = function (data) {
          console.log('sss')
        };

        var connectToServer = function () {
          var socket = io.connect('http://localhost:3001', { transports : ['websocket'] });
          socket.on('message-name', onMessage);
        };

        connectToServer();

      })();
    </script>
  </head>
  <body>
  </body>
</html>